// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples


@import "../valo/valo.scss";

@mixin tema_iu7 {
    @include valo;


    .v-tabsheet
    {
        .v-tabsheet-tabcontainer
        {
            border-top: 1px solid #197DE1;
        }
    }

    .margintop4
    {
        margin-top: 4px;
    }
    .margintop5
    {
        margin-top: 5px;
    }
    .margintop6
    {
        margin-top: 6px;
    }
    .margintop7
    {
        margin-top: 7px;
    }

    .margintop10
    {
        margin-top: 10px;
    }

    .paddingtop4
    {
        padding-top: 4px;
    }

    .margin3
    {
        margin: 3px;

    }

    .titulo2
    {
        font-size: 21px;
        text-shadow: 1px 1px 1px rgba(180,180,180,.5);

        color: #197DE1;
        font-weight: bold;
    }



    .v-window
    {
        .v-window-outerheader
        {
            background: #2c539e;
            background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%);
            background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%);
            background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 );
        }
        .v-window-header
        {
            color: white;
            font-weight: bold;
            text-shadow: 1px 1px 1px black;
        }
        .v-window-maximizebox
        {

            background: #f2ffbc;
            background: -moz-linear-gradient(top,  #f2ffbc 0%, #e5ffbf 100%);
            background: -webkit-linear-gradient(top,  #f2ffbc 0%,#e5ffbf 100%);
            background: linear-gradient(to bottom,  #f2ffbc 0%,#e5ffbf 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ffbc', endColorstr='#e5ffbf',GradientType=0 );


            /*
                        background: #58709b;
                        background: -moz-linear-gradient(top,  #58709b 0%, #4f6a9b 100%);
                        background: -webkit-linear-gradient(top,  #58709b 0%,#4f6a9b 100%);
                        background: linear-gradient(to bottom,  #58709b 0%,#4f6a9b 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58709b', endColorstr='#4f6a9b',GradientType=0 );
            */

            color: green;
            text-shadow: 1px 1px 1px white;
        }
        .v-window-restorebox
        {
            background: #f2ffbc;
            background: -moz-linear-gradient(top,  #f2ffbc 0%, #e5ffbf 100%);
            background: -webkit-linear-gradient(top,  #f2ffbc 0%,#e5ffbf 100%);
            background: linear-gradient(to bottom,  #f2ffbc 0%,#e5ffbf 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ffbc', endColorstr='#e5ffbf',GradientType=0 );

            color: green;
            text-shadow: 1px 1px 1px white;
        }
        .v-window-closebox
        {
            background: #ffccc6;
            background: -moz-linear-gradient(top,  #ffccc6 0%, #ffdedb 100%);
            background: -webkit-linear-gradient(top,  #ffccc6 0%,#ffdedb 100%);
            background: linear-gradient(to bottom,  #ffccc6 0%,#ffdedb 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffccc6', endColorstr='#ffdedb',GradientType=0 );

            color: red;
            text-shadow: 1px 1px 1px white;
        }
    }
}
